[database]
SQLALCHEMY_DATABASE_URI: sqlite:///weblogin.sqlite3

[mail]
MAIL_SERVER: smtp.gmail.com
MAIL_PORT: 465
MAIL_USERNAME: email-address@gmail.com
MAIL_PASSWORD: password

[system_settings]
disable_signup: False