<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Python Flask Login Demo</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css' )}}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css' ) }}" >
</head>
<body>
<div class="container">
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
 {% if "email" not in session %}
         <a class="navbar-brand" href="/">
      {% else %}
      <a class="navbar-brand" href="/home">
      {% endif %}
    <img src="{{  url_for('static', filename='images/favicon.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">Home control
  </a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
     {% if "email" not in session %}
      <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
      <a class="nav-item nav-link" href="{{ url_for('signup') }}">Signup</a>
    {% endif %}
        {% if "email" in session %}
            <a class="nav-item nav-link" href="{{ url_for('home') }}">Control</a>
            <a class="nav-item nav-link" href="{{ url_for('logoff') }}">Logoff</a>
        {% endif %}
    </div>
  </div>
</nav>

{% block content %}
    {% endblock %}
<div class="footer">
    <div class="footer"><p class="text-center">&copy; Chris Hawkins 2018</p></div>
    <div class="footer"><p class="text-center"><img src="https://img.shields.io/badge/Powered%20by-Python%20%7C%20Flask-blue.svg"></p></div>
</div>
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</div>
</body>
</html>