
{% extends 'layout.html' %}

{% block content %}
<main class="container row">
<div class="section-content">
<h2>Log in</h2>

    <form method="POST">
    {% if id == 'failed' %}
        <div class="alert alert-warning" role="alert">Login failed</div>
    {% endif %}
    {% if id == 'emailsent' or id == 'emailnotverified'%}
        <div class="alert alert-warning" role="alert">Check your email</div>
    {% endif %}
    {% if id == 'emailchecked' %}
        <div class="alert alert-success" role="alert">Valid email address</div>
    {% endif %}
    {% if id == 'emailexist' %}
        <div class="alert alert-success" role="alert">Email address already used</div>
    {% endif %}

        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label }}
            {%  if form.email.errors  %}
                {% for error in form.email.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            {%  endif %}
            {{ form.email }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {%  if form.password.errors  %}
                {% for error in form.password.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            {%  endif %}
            {{ form.password }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
        <div><a href="{{ url_for('passwordreset_request') }}">Reset Password</a></div>
    </form>
</div>

</main>
{% endblock %}