
{% extends 'layout.html' %}

{% block content %}
<main class="container row">
<div class="section-content">
<h3>Reset password request</h3>

    <form method="POST">
    {% if id == 'emailnotexist' %}
        <div class="alert alert-success" role="alert">Email address already used</div>
    {% endif %}

        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label }}
            {%  if form.email.errors  %}
                {% for error in form.email.errors %}
                    <p class="error-message">{{ error }}</p>
                {% endfor %}
            {%  endif %}
            {{ form.email }}
        </div>

        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
</main>
{% endblock %}